<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-6">
    <div class="card text-black-50 bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Calcula tu retiro</h5>
        <p class="card-text">La siguiente aplicación es totalmente gratuita, la siguiente calculadora te dara una idea de cuanto debes ahorrar
         <br> para tener el retiro que quieres </p>
        <a href="#" class="btn btn-primary">Calculalo ahora</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-body bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
---------------------------

<app-calculadora-retiro></app-calculadora-retiro>

